

<div *ngIf="videoCallOnOrOff=='On'; else videoOff">
  <router-outlet></router-outlet>
</div>

<ng-template #videoOff>

  <div class="grid">
    <div class="col-3.5">

      <div *ngIf="isMobileResolution else desktop">
              <!-- Default dropright button -->
          <div class="btn-group dropright">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              
            </button>
            <div class="dropdown-menu">
              <app-chat-list></app-chat-list>
            </div>
          </div>
      </div>
      <ng-template #desktop>
        <app-chat-list></app-chat-list>
      </ng-template>
      

      

    </div>
    <div class="col">

      <app-chat-room></app-chat-room>

    </div>
</div>


</ng-template>



